@model mvcStok._1.Models.Entity.tblUrunler
@{
    ViewBag.Title = "guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("gnc", "urunler", FormMethod.Post))
{
    <body>
        <div>
            @Html.LabelFor(m => m.urunid)
            @Html.TextBoxFor(m => m.urunid, new { disabled = "disabled", @class = "form-control", @required = "" })
        </div>
        <div>
            @Html.LabelFor(m => m.urunad)
            @Html.TextBoxFor(m => m.urunad, new { @class = "form-control", @required = "" })
        </div>
        <div>
            @Html.LabelFor(m => m.marka)
            @Html.TextBoxFor(m => m.marka, new { @class = "form-control", @required = "" })
        </div>
        <div>
            @Html.LabelFor(m => m.urunkategori)
            @Html.DropDownListFor(m => m.urunkategori,
                                    ((List<SelectListItem>)ViewBag.deger),
                                    new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.fiyat)
            @Html.TextBoxFor(m => m.fiyat, new { @class = "form-control", @required = "" })
        </div>
        <div>
            @Html.LabelFor(m => m.stok)
            @Html.TextBoxFor(m => m.stok, new { @class = "form-control", @required = "" })
        </div>
        <br />
        <div>
            <button class="btn btn-group">GÜNCELLE</button>
        </div>
    </body>
}
